/* SEÇÃO SOBRE */

.about {
  padding: 80px 20px;

  background: rgba(15, 23, 42, 0.55);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 20px;
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.45),
    inset 0 0 0 1px rgba(255, 255, 255, 0.08);

  margin: 60px auto;
  max-width: 1200px;
}

.about-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.about-video {
  width: 100%;
  max-width: 520px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.about-video video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.tech-title {
  color: #e5e7eb;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tech-icons img {
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.tech-icons img:hover {
  transform: scale(1.08);
  filter: brightness(1.15);
}


.about-text {
  color: #e5e7eb;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.8;
  color: #cbd5f5;
}

.about-text a {
  color: #38bdf8;
  font-weight: 500;
  text-decoration: none;
}

.about-text a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .about-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 60px 15px;
  }

  .about-video {
    max-width: 100%;
  }

  .tech-title {
    font-size: 1.1rem;
  }

  .about-text h2 {
    font-size: 1.6rem;
  }

  .about-text p {
    font-size: 0.92rem;
    text-align: justify;
  }
}
@media (max-width: 360px) {
  .contact-info p {
    font-size: 1rem;
  }
}